.card {
  min-width: 80%;
  aspect-ratio: 2 / 1;
  margin-bottom: 2rem;
  background-color: rgba(var(--medSkyRGB), .25);
  display: grid;
  place-content: center;
  text-align: center;
}

.content, .placeholder {
  height: 2em;
  margin: 0.5em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--darkPurple);
}

.content span {
  margin-left: .25rem;
}