#root {
    --lightPurple: #f59c96;
    --lightPurpleRGB: 245, 156, 150;
    --medPurple: #b32c4c;
    --medPurpleRGB: 179, 44, 76;
    --darkPurple: #36151d;
    --darkPurpleRGB: 54, 21, 29;
    --medSky: #447c9a;
    --medSkyRGB: 68, 124, 154;
    --lightSky: #b4c2cb;
    --lightSkyRGB: 180, 194, 203;
    --cloud: #f6ecdb;
    --cloudRGB: 246, 236, 219;
    font-family: system-ui;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--medSky);
    background-image: url("./assets/purpleCow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: grid;
    place-items: center;
}

.caps {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-feature-settings: "smcp";
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: -.0125em;
}